<launch>
    <!-- launch video stream -->
    <node pkg="cv_camera" type="cv_camera_node" name="webcam"/>
    <node pkg="optic_flow" type="optic_flow_node" name="optic_flow_node" output = "screen">
        <remap from="image" to="/webcam/image_raw"/>
        <param name="rate" value="31"/>
    </node>

</launch>
